body {
    background: url(../img/bg.jpg);
    background-color:  #171B1F;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    width: 1280px;
     height: 240px;
     left: calc(50% - 1280px/2);
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    color: #919699;
}
div, a, p, img, form, button, nav {
    box-sizing: border-box;
    border-radius: 5px;
} 
a {
    text-decoration: none;
}
ul, li {
    display: block;
    margin: 0;
    padding: 0;
}
.logo {
    margin-top: 70px;
    margin-left:  calc(50% - 240px/2);
    width: 240px;
    height: 120px;
    }
nav {
    width: 520px;
    margin-top: 60px;
    margin-left: calc(50% - 85px/2 - 302.5px);
    display: flex;
}
.menu{
    position: absolute;
    width: 1195px;
    padding: 0;
    margin: 0 auto;
    display: block;
}
.menu li{
    display: block;
    float: left;
    margin-right: 50px;    
}
.menu a{
    color: #fff;
    text-align: center;
    font-size: 20px;
     margin-top: 250px;
}
.menu li.active a {
    color: #FDBF07;
    border-bottom: 2px solid #FDBF07;
}
.main_photo {
    width: 1180px;
    height: 460px;
    border-radius: 10px;
    margin-top: 75px;
    margin-right: 50px;
}
h1 {
    margin-top: 60px;
    color: #fff;
    text-align: center;
    font-size: 48px;
    line-height: 55px;
    font-weight: 400;
}
.izo img {
    
    width: 250px;
    height: 300px;
    margin-top: 20px;
    margin-left: 45px;
    
}
h2 {
    color: #919699;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
}
.cadri {
    width: 1180px;
    height: 180px;
    margin-left: 50px;
}
.cadri img {
    width: 220px;
    height: 200px;
    margin-right: 45px;
    }
.opisanie h4 {
    margin-left: 20px;
    line-height: 20px;
    display: inline;
    margin-right: 110px;
}
.button {
    text-align: center;
    color:#FDBF07;
}
footer{
    margin-top: 40px;
}
.heroes a {
    display: block;
    margin-right: 30px;
    text-align: center;
    margin-top: 50px;
    float: inherit;
}
.heroes img {
    width: 150px;
    height: 150px;
    
}
input {
    color:coral;
    background-color: burlywood;
    font-family: cursive;
    font-size: 22px;
    border-radius: 5px;
    height: 40px;
    width: 200px;
}
img {
    width: 150px;
    height: 120px;
}
.karta {
    width: 1200px;
    height: 1200px;
}
.img_geroi img {
    width: 400px;
    height: 400px
  
}